.calculatorBox {
  margin-top: 50px;
  height: 600px;
}

.valueBox {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.menu {
  display: flex;
  align-items: center;
  width: 750px;
  border-bottom: 1px solid #ccc;
  padding-left: 75px;
}
.menu_type {
  margin-right: 100px;
}
.menu_weight {
  margin-right: 145px;
}
.menu_price {
  margin-right: 153px;
}
.menu_quantity {
  margin-right: 120px;
}

.resetBtn {
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(33, 32, 32);
  color: #fff;
  &:hover {
    color: greenyellow;
    cursor: pointer;
    transition: all 0.1s ease;
  }
}
.weightValue {
  display: flex;
  width: 100%;
  height: 300px;
}

.itValue {
  display: flex;
  align-items: center;
  width: 750px;
}
.itValue_type {
  margin-left: 25px;
  margin-right: 60px;
  background-color: #f0397c;
  padding: 5px 7px;
  border-radius: 10px;
}
.itValue_weight {
  margin-right: 80px;
  width: 100px;
  text-align: center;
}
.itValue_price {
  margin-right: 85px;
  width: 100px;
  text-align: center;
}
.itValue_quantity {
  margin-right: 90px;
  display: flex;
  align-items: center;
}
.it_quantity {
  font-size: 20px;
  width: 35px;
  text-align: center;
  margin: 0 10px;
}

.removeBtn {
  font-size: 30px;
  background-color: rgb(33, 32, 32);
  color: #fff;
  font-weight: bold;
  &:hover {
    color: red;
    transition: all 0.1s ease;
    cursor: pointer;
  }
}
.Btn {
  font-size: 20px;
  color: #fff;
  &:hover {
    color: orange;
    transition: all 0.1s ease;
    cursor: pointer;
  }
}
