.middleBox {
  width: 750px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.sumNTotal {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.sum {
  color: orange;
  padding: 5px 10px;
}
.quantity {
  color: yellow;
  padding: 5px 10px;
}
.cash {
  background-color: forestgreen;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.closeBox {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.closeBtn {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  &:hover {
    color: red;
    cursor: pointer;
    transition: all 0.1s ease;
  }
}
