.postType {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.type {
  border: 1px solid rgb(246, 181, 61);
  border-radius: 5px;
  height: 20px;
  padding: 5px 10px;
  &:hover {
    background-color: rgb(246, 181, 61);
    color: #fff;
    transition: all 0.1s ease;
  }
}
.type:nth-child(2) {
  margin: 0 25px;
}
