.closeBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.closeBtn {
  margin: 10px 0 20px 0;
  padding: 2.5px 5px;
  &:hover {
    color: orangered;
    cursor: pointer;
  }
}

.postWeightCharge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 70%;
  border: 1px solid #aaa;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0 20px;
}
.postWeight {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  height: auto;
  width: 100%;
  margin-top: -30px;
}
.postWeight h4 {
  margin-right: 28px;
}
.selectBox {
  display: flex;
}
#weight {
  width: 120px;
  height: 25px;
}

.postCharge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 10px 0 20px 0;
}
