.postBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 800px;
  border-radius: 20px;
  margin-top: 20px;
  padding: 0px 20px 20px 0px;
}
.middleBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sumNchangeCash {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.sum {
  color: aquamarine;
}
.cash {
  color: orange;
}

.closeBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.closeBtn {
  margin: 10px 0 20px 0;
  padding: 2.5px 10px;
  border: 1px solid #000;
  font-size: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  &:hover {
    color: #fff;
    background-color: red;
    border: 1px solid red;
    font-weight: bold;
    cursor: pointer;
  }
}

.postWeightCharge {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  width: 100%;
  border-radius: 20px;
  padding: 20px 15px;
  color: #fff;
  border: 1px solid #ccc;
}
.postWeight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  height: auto;
  width: 100%;
  color: #fff;
}
.postWeight h4 {
  margin-right: 28px;
}
.selectBox {
  display: flex;
}
.selectBox p {
  margin-top: 22px;
}
#weight {
  width: 120px;
  height: 25px;
}

.postCharge {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  margin-top: 20px;
}
